<div class="column_left">
  <div class="column_middle_grid1">
    <div class="profile_picture">
      <a href=""><img src="/assets/profile_img150x150.jpg" alt="" /> </a>
    <div class="profile_picture_name">
      <h2>Anne Hathaway</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
    </div>
  </div>
   <div class="articles_list">
      <ul>
        <li><a href="#" class="red"> <img src="/assets/comments.png" alt="" /> 23</a></li>
        <li><a href="#" class="purple"> <img src="/assets/views.png" alt="" /> 841</a></li>
        <li><a href="#" class="yellow"> <img src="/assets/likes.png" alt="" /> 49</a></li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>
</div>


<div class="column_middle">
  <div class="column_middle_grid1">
    <div class="graph_list">
      <img src="/assets/graph.png" alt="" />
      <div class="week-month-year">
        <p><a href="#">Week</a></p>
        <p><a href="#" class="active">Month</a></p>
        <p><a href="#">year</a></p>
        <div class="clear"></div>
      </div>
      <ul>
        <li><a href="#"><span class="day_name">Apr</span> 2013
        <label class="digits"><span>+</span>21<em>%</em></label><div class="clear"></div></a></li>
        <li class="active"><a href="#"><span class="day_name">May</span> 2013
        <label class="digits"><span>+</span>48<em>%</em></label><div class="clear"></div></a></li>
        <li><a href="#"><span class="day_name">Jun</span> 2013
        <label class="digits"><span>+</span>35<em>%</em> </label><div class="clear"></div></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="column_right">
  <div class="column_right_grid1">
    <div class="weather">
      <h3><i><img src="/assets/location.png" alt="" /> </i> Cluj-Napoca / Ro</h3>
      <div class="today_temp">
        <div class="temp">
          <figure>Fri 29/06<span>24<em>o</em></span></figure>
        </div>
        <img src="/assets/sun.png" alt="" />
      </div>
      <div class="temp_list">
        <ul>
          <li>
            <a href="#">
              <span class="day_name">Sat</span>&nbsp; 29/06
              <label class="digits">25<em>o</em>
                <i><img src="/assets/sun_icon1.png" alt="" /></i>
              </label>
              <div class="clear"></div>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="day_name">Sat</span>&nbsp; 29/06
              <label class="digits">25<em>o</em>
                <i><img src="/assets/sun_icon1.png" alt="" /></i>
              </label>
              <div class="clear"></div>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="day_name">Sat</span>&nbsp; 29/06
              <label class="digits">25<em>o</em>
                <i><img src="/assets/sun_icon1.png" alt="" /></i>
              </label>
              <div class="clear"></div>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="day_name">Sat</span>&nbsp; 29/06
              <label class="digits">25<em>o</em>
                <i><img src="/assets/sun_icon1.png" alt="" /></i>
              </label>
              <div class="clear"></div>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="day_name">Sat</span>&nbsp; 29/06
              <label class="digits">25<em>o</em>
                <i><img src="/assets/sun_icon1.png" alt="" /></i>
              </label>
              <div class="clear"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

