<!-- Probile block -->
<div class="column_left">
  <div class="column_middle_grid1">
    <div class="profile_picture">
      <a href=""><img src="/assets/logo.jpg" alt="" class="profile_logo"/> </a>
    <div class="profile_picture_name">
      <h2>Plantagoshi</h2>
      <p>Ruda, sembrada en Abril 14/2014</p>
      <div class="button">
        <a href="#" id="water_btn">Regar</a>
      </div>
    </div>
  </div>
   <div class="articles_list">
      <ul>
        <li><a href="#" class="red">
          <p>Humedad</p>
          <p class="percentage"><%= @plant.last_humidity %><em>%</em></p></a>
        </li>
        <li><a href="#" class="purple">
          <p>Temperatura</p>
          <p class="percentage"><%= @plant.last_temperature %><em class="temperature"> o</em></p></a>
        </li>
        <li><a href="#" class="yellow">
          <p>Precipitación</p>
          <p class="percentage"><%= @plant.last_precipitation %></p></a>
        </li>
        <div class="clear"></div>
      </ul>
    </div>
  </div>
</div>


<!-- Stadistics Block -->
<div class="column_middle">
  <div class="column_middle_grid1">
    <div class="graph_list">
      <img src="/assets/graph.png" alt="" />
      <div class="week-month-year">
        <p><a href="#">Week</a></p>
        <p><a href="#" class="active">Month</a></p>
        <p><a href="#">year</a></p>
        <div class="clear"></div>
      </div>
      <div class="profile_picture_name">
        <p>Frecuencia de Riego: 2 veces por semana ( cada 3 dias aprox)</p>
        <p>Humedad Recomendada : 75% - %50%</p>
        <p>Temperatura : ¡Cuidado a Bajas Temperaturas! A temperaturas menores de 10ºC la planta puede sufrir daños</p>
        <p>Poda : Aproximadamente una vez al año</p>
        <p>Cosecha : Aproximadamente un año despues de la siembra</p>
      </div>
    </div>
  </div>
</div>


<!-- Forecast Block -->
<div class="column_right">
  <div class="column_right_grid1">
    <div class="weather">
      <h3><i><img src="/assets/location.png" alt="" /> </i> Medellín / Colombia</h3>
      <div class="today_temp">
        <div class="temp">
          <figure>
            <span class="date" id="actual-day-date"></span>
            <span id="actual-day-temp"><em>o</em></span>
          </figure>
        </div>
        <img src="/assets/sun.png" alt="" />
      </div>
      <div class="temp_list" id="forecast-week">
        <ul>
          <li id="forecast_week_1">
            <a href="#">
              <span class="forecast-week-date"></span>
              <label class="digits forecast-temperature">
                <span></span><em>o</em>
                <i><img src="/assets/sun_icon1.png" alt="" /></i>
              </label>
              <div class="clear"></div>
            </a>
          </li>
          <li id="forecast_week_2">
            <a href="#">
              <span class="forecast-week-date"></span>
              <label class="digits forecast-temperature">
                <span></span><em>o</em>
                <i><img src="/assets/sun_icon1.png" alt="" /></i>
              </label>
              <div class="clear"></div>
            </a>
          </li>
          <li id="forecast_week_3">
            <a href="#">
              <span class="forecast-week-date"></span>
              <label class="digits forecast-temperature">
                <span></span><em>o</em>
                <i><img src="/assets/sun_icon1.png" alt="" /></i>
              </label>
              <div class="clear"></div>
            </a>
          </li>
          <li id="forecast_week_4">
            <a href="#">
              <span class="forecast-week-date"></span>
              <label class="digits forecast-temperature">
                <span></span><em>o</em>
                <i><img src="/assets/sun_icon1.png" alt="" /></i>
              </label>
              <div class="clear"></div>
            </a>
          </li>
          <li id="forecast_week_5">
            <a href="#">
              <span class="forecast-week-date"></span>
              <label class="digits forecast-temperature">
                <span></span><em>o</em>
                <i><img src="/assets/sun_icon1.png" alt="" /></i>
              </label>
              <div class="clear"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="plant_id" data-id='<%= @plant.id %>'></div>

